<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!-- Bootstrap CSS -->
	<link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/css/style.css}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <title>Product Management</title>
</head>
<body>
	<div class="container">
		<aside>
			<div class="toggle">
				<a href="/home">
                    <div class="logo">
					    <img th:src="@{/images/home/logo.png}">
					    <h2>YT<span class="danger">Sport</span></h2>
					</div>
                </a>
				<div class="close" id="close-btn">
					<span class="material-icons-sharp">close</span>
				</div>
			</div>
			<div class="sidebar">
				<a href="/admin/index" class="active"> <span
					class="material-icons-sharp">dashboard</span>
					<h3>Dashboard</h3>
				</a> <a href="/admin/managercustomer"> <span
					class="material-icons-sharp">person_outline</span>
					<h3>Customers</h3>
				</a> <a href="/admin/managerproduct"> <span
					class="material-icons-sharp">receipt_long</span>
					<h3>Products</h3>
				</a> <a href="/admin/managercategory"> <span
					class="material-icons-sharp">category</span>
					<h3>Categories</h3>
				</a> <a href="/admin/orderwait"> <span class="material-icons-sharp">assignment</span>
					<h3>Orders</h3>
				</a> <a href="/admin/favorites"> <span class="material-icons-sharp">favorite</span>
					<h3>Favorite</h3>
				</a> <a href="/admin/managerstatis"> <span
					class="material-icons-sharp"> <svg
							xmlns="http://www.w3.org/2000/svg" height="24px"
							viewBox="0 -960 960 960" width="24px" fill="#434343">
                            <path
								d="M120-120v-80l80-80v160h-80Zm160 0v-240l80-80v320h-80Zm160 0v-320l80 81v239h-80Zm160 0v-239l80-80v319h-80Zm160 0v-400l80-80v480h-80ZM120-327v-113l280-280 160 160 280-280v113l-160 160-280-280-280 280Z" />
                        </svg>
				</span>
					<h3>Revenue Statistics</h3>
				</a> <a href="${pageContext.request.contextPath}/auth/logout"> <span
					class="material-icons-sharp">logout</span>
					<h3>Logout</h3>
				</a>
			</div>
		</aside>
		<main>
    <h2>Revenue Statistics</h2>
<div th:if="${message != null}" class="alert alert-success" th:text="${message}"></div>

<div th:if="${error != null}" class="alert alert-danger" th:text="${error}"></div>


    <h2>Enter time</h2>
    <form th:action="@{/admin/managerstatis}" method="get">

    <label for="startDate">From date:</label>
    <input type="date" id="startDate" name="startDate" th:required="required"/>

    <label for="endDate">To date:</label>
    <input type="date" id="endDate" name="endDate" th:required="required"/>

    <button type="submit">Search</button>

	</form>

    <table class="data-table">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Product</th>
                <th>Price</th>
                <th>Order date</th>
                <th>Quantity</th>
                <th>Total Amount</th>
            </tr>
        </thead>
       <tbody>
    <div th:switch="${noResults}">
        <div th:case="true">
            <tr>
                <td colspan="6">No results found.</td>
            </tr>
        </div>
        <div th:case="false">
            <tr th:each="orderDetail : ${orderDetails}">
                <td th:text="${orderDetail[0]}"></td>
                <td th:text="${orderDetail[1]}"></td>
			<td th:text="${#numbers.formatDecimal(orderDetail[2], 0, 'COMMA', 0, 'POINT')}"></td>
                <td th:text="${#dates.format(orderDetail[3], 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td th:text="${orderDetail[4]}"></td>
			<td th:text="${#numbers.formatDecimal(orderDetail[5], 0, 'COMMA', 0, 'POINT')}"></td>
            </tr>
            <tr>
                <td colspan="5" style="text-align: right;">Total Revenue:</td>
			<td th:text="${#numbers.formatDecimal(totalpro, 0, 'COMMA', 0, 'POINT')}"></td>
            </tr>
        </div>
    </div>
</tbody>

    </table>
	</main>
		<div class="right-section">
		    <div class="nav">
		        <button id="menu-btn">
		            <span class="material-icons-sharp">menu</span>
		        </button>
		        <div class="dark-mode">
		            <span class="material-icons-sharp active">light_mode</span>
		            <span class="material-icons-sharp">dark_mode</span>
		        </div>
		        <div class="profile">
		            <div class="info">
		                <p>Hey, <b th:text="${session.customer.name}"></b></p>
		                <small class="text-muted" th:text="${session.customer.admin} ? 'Admin' : ''"></small>
		            </div>
		            <div class="profile-photo">
		                <img th:src="@{/images/profile-1.jpg}">
		            </div>
		        </div>
		    </div>
		    <div class="user-profile">
		        <div class="logo">
		            <img th:src="@{/images/home/logo.png}">
		        </div>
		    </div>
		</div>
	</div>
	<!-- jQuery -->
 <script th:src="@{https://code.jquery.com/jquery-3.5.1.js}"></script>
	<!-- DataTables JS -->
	<script type="text/javascript" charset="utf8" th:src="@{https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js}"></script>
	<script>
    $(document).ready(function() {
        $('.data-table').DataTable();
    });
</script>
	 <script th:src="@{https://kit.fontawesome.com/fd1177a423.js}" crossorigin="anonymous"></script>
	<script th:src="@{/index.js}"></script>
	   </body>
   </html>