<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
	<link type="text/css" rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <title>Order Management</title>
</head>
<body>
    <div class="container">
        <aside>
            <div class="toggle">
                <a th:href="@{/home}">
				    <div class="logo">
				        <img th:src="@{/images/home/logo.png}">
				        <h2>YT<span class="danger">Sport</span></h2>
				    </div>
				</a>

                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">close</span>
                </div>
            </div>
            <div class="sidebar">
                <a href="/admin/index" class="active">
                    <span class="material-icons-sharp">dashboard</span>
                    <h3>Dashboard</h3>
                </a>
                <a href="/admin/managercustomer">
                    <span class="material-icons-sharp">person_outline</span>
                    <h3>Customers</h3>
                </a>
                <a href="/admin/managerproduct">
                    <span class="material-icons-sharp">receipt_long</span>
                    <h3>Products</h3>
                </a>
                <a href="/admin/managercategory">
                    <span class="material-icons-sharp">category</span>
                    <h3>Categories</h3>
                </a>
                <a href="/admin/orderwait">
                    <span class="material-icons-sharp">assignment</span>
                    <h3>Orders</h3>
                </a>
                <a href="/admin/favorites" >
                    <span class="material-icons-sharp">favorite
                    </span>
                    <h3>Favorite</h3>
                </a>
                </a> <a href="/admin/managerstatis"> <span
					class="material-icons-sharp"> <svg
							xmlns="http://www.w3.org/2000/svg" height="24px"
							viewBox="0 -960 960 960" width="24px" fill="#434343">
				<path
								d="M120-120v-80l80-80v160h-80Zm160 0v-240l80-80v320h-80Zm160 0v-320l80 81v239h-80Zm160 0v-239l80-80v319h-80Zm160
 0v-400l80-80v480h-80ZM120-327v-113l280-280 160 160 280-280v113L560-447 400-607 120-327Z" /></svg>
				</span>
					<h3>Revenue Statistics</h3>
				</a>
                <a href="${pageContext.request.contextPath}/auth/logout">
                    <span class="material-icons-sharp">logout</span>
                    <h3>Logout</h3>
                </a>
            </div>
        </aside>
        <main>
            <h2>Đơn hàng đang chờ</h2>
			<a th:href="@{/admin/orderwait}" class="add-btn">Đơn hàng đang chờ</a> |
			<a th:href="@{/admin/orderdeliver}" class="add-btn">Đơn hàng đang giao</a> |
			<a th:href="@{/admin/ordersuccess}" class="add-btn">Đơn hàng giao thành công</a> |
			<a th:href="@{/admin/ordercancel}" class="add-btn">Đơn hàng đã hủy</a>
			
			<div th:if="${not #strings.isEmpty(message)}" class="alert alert-success" th:text="${message}"></div>
			<div th:if="${not #strings.isEmpty(error)}" class="alert alert-danger" th:text="${error}"></div>
			
			<table class="data-table">
			    <thead>
			        <tr>
			            <th>Mã đơn hàng</th>
			            <th>Mã khách hàng</th>
			            <th>Ngày đặt</th>
			            <th>Tổng tiền</th>
			            <th>Trạng thái</th>
			            <th>Hoạt động</th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr th:each="order : ${orderPage.content}">
					    <td th:text="${order.orderId}"></td>
					    <td th:text="${order.customer.customer_id}"></td>
					    <td th:text="${#dates.format(order.orderDate, 'dd/MM/yyyy')}"></td>
					    <td><span th:text="${#numbers.formatDecimal(order.totalAmount, 0, 'COMMA', 0, 'POINT')}"></span> VNĐ</td>
					    <td style="color: orange;" th:text="${order.status}"></td>
					    <td>
					        <div style="display: flex; justify-content: space-around;">
					            <form th:action="@{/admin/orderview/{orderId}(orderId=${order.orderId})}" method="post">
					                <button type="submit" class="action-btn edit">Chi tiết</button>
					            </form>
					            <form th:if="${order.status == 'Đang chờ'}" th:action="@{/admin/orderdeliver/{orderId}(orderId=${order.orderId})}" method="post">
					                <button type="submit" class="action-btn delivery">Giao hàng</button>
					            </form>
					            <form th:if="${order.status == 'Đang chờ'}" th:action="@{/admin/ordercancel/{orderId}(orderId=${order.orderId})}" method="post">
					                <button type="submit" class="action-btn delete">Hủy</button>
					            </form>
					        </div>
					    </td>
					</tr>
			    </tbody>
			</table>
            <div class="pagination">
			    <nav aria-label="Page navigation" th:if="${orderPage.totalPages > 1}">
			        <ul class="pagination">
			            <li class="page-item" th:if="${orderPage.number > 0}">
			                <a class="page-link" th:href="@{?page={page}&size={size}(page=${orderPage.number - 1}, size=${orderPage.size})}" aria-label="Previous">
			                    <span aria-hidden="true">&laquo;</span>
			                </a>
			            </li>
			            <li class="page-item" th:each="i : ${#numbers.sequence(0, orderPage.totalPages - 1)}" th:class="${i == orderPage.number ? 'active' : ''}">
			                <a class="page-link" th:href="@{?page={page}&size={size}(page=${i}, size=${orderPage.size})}" th:text="${i + 1}"></a>
			            </li>
			            <li class="page-item" th:if="${orderPage.number < orderPage.totalPages - 1}">
			                <a class="page-link" th:href="@{?page={page}&size={size}(page=${orderPage.number + 1}, size=${orderPage.size})}" aria-label="Next">
			                    <span aria-hidden="true">&raquo;</span>
			                </a>
			            </li>
			        </ul>
			    </nav>
			</div>

        </main>
        <div class="right-section">
		    <div class="nav">
		        <button id="menu-btn">
		            <span class="material-icons-sharp">menu</span>
		        </button>
		        <div class="dark-mode">
		            <span class="material-icons-sharp active">light_mode</span>
		            <span class="material-icons-sharp">dark_mode</span>
		        </div>
		        <div class="profile">
		            <div class="info">
		                <p>Hey, <b th:text="${session.customer.name}"></b></p>
		                <small class="text-muted" th:text="${session.customer.admin} ? 'Admin' : ''"></small>
		            </div>
		            <div class="profile-photo">
		                <img th:src="@{/images/profile-1.jpg}">
		            </div>
		        </div>
		    </div>
		    <div class="user-profile">
		        <div class="logo">
		            <img th:src="@{/images/home/logo.png}">
		        </div>
		    </div>
		</div>
    </div>
    <script src="https://kit.fontawesome.com/fd1177a423.js" crossorigin="anonymous"></script>
    <script src="index.js"></script>
</body>
</html>
