@charset "UTF-8";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.row {
    background: white;
    border-radius: 30px;
    box-sizing: 12px 12px 12px;
}

.login img {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

}

.login h1 {
    font-weight: 900;
    font-size: 2rem;

}

.login h3 {
    font-size: 4rem;
    font-weight: 400;
    font-family: "Pacifico", cursive;
    color: rgb(65, 65, 234);
}


.inputText {
    height: 50px;
    width: 70%;
    border: none;
    outline: none;
    border-radius: 60px;
    box-shadow: -1px 1px 29px -11px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 1px 29px -11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 29px -11px rgba(0, 0, 0, 0.75);
}

.btnSignup {
    height: 50px;
    width: 50%;
    border: none;
    outline: none;
    border-radius: 60px;
    font-weight: 600;
    background-color: rgb(65, 65, 234);
    color: white;
}

.btnSignup:hover {
    background-color: rgb(16, 16, 231);
    transition: 0.5s;
}

.fa-facebook {
    font-size: 2rem;
    color: rgb(65, 65, 234);
}

.fa-google-plus {
    font-size: 2rem;
    color: rgb(240, 35, 35);
}